<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-lazy-init="false">

    <bean class="com.lebo.event.listener.FavoritesCountRecorder" lazy-init="false"/>
    <bean class="com.lebo.event.listener.FollowerCountRecorder" lazy-init="false"/>
</beans>