<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lebo.repository.mybatis.GiveGoodsDao">

    <insert id="insert" parameterType="GiveGoods">
        insert into vg_give_goods(
        from_user_id,
        to_user_id,
        post_id,
        goods_id,
        quantity,
        give_date
        ) values (
        #{fromUserId},
        #{toUserId},
        #{postId},
        #{goodsId},
        #{quantity},
        #{giveDate}
        )
    </insert>
</mapper>
