<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lebo.repository.mybatis.GoldOrderDao">

    <resultMap id="goldOrderMap" type="GoldOrder">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="quantity" column="quantity"/>
        <result property="discount" column="discount"/>
        <result property="subject" column="subject"/>
        <result property="totalCost" column="total_cost"/>
        <result property="gold" column="gold"/>
        <result property="status" column="status"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="alipayStatus" column="alipay_status"/>
        <result property="alipayNotifyId" column="alipay_notify_id"/>
        <result property="goldProduct.id" column="gold_product_id"/>
    </resultMap>

    <insert id="insert" parameterType="GoldOrder" useGeneratedKeys="true" keyProperty="id">
		insert into vg_gold_order (
		id,
		user_id,
		gold_product_id,
		quantity,
		discount,
		subject,
		total_cost,
		gold,
		order_date,
		status,
		payment_method)
		values (
		#{id},
		#{userId},
		#{goldProduct.id},
		#{quantity},
		#{discount},
		#{subject},
		#{totalCost},
		#{gold},
		#{orderDate},
		#{status},
		#{paymentMethod})
	</insert>

    <select id="get" parameterType="long" resultMap="goldOrderMap">
        select id,
        user_id,
        gold_product_id,
        quantity,
        discount,
        subject,
		total_cost,
		gold,
        order_date,
        status,
        payment_method,
        alipay_status,
        alipay_notify_id
        from vg_gold_order
        where id = #{id}
    </select>

    <update id="updateStatus" parameterType="GoldOrder">
        update vg_gold_order
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="alipayStatus != null">
                alipay_status = #{alipayStatus},
            </if>
            <if test="alipayNotifyId != null">
                alipay_notify_id = #{alipayNotifyId}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="countByAlipayNotifyId" parameterType="string" resultType="int">
        select count(1) from vg_gold_order where alipay_notify_id = #{alipayNotifyId}
    </select>

</mapper>
