<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lebo.repository.mybatis.OrderDetailDao">

    <insert id="save" parameterType="OrderDetail">
		insert into ec_order_detail (
		order_id, product_id, quantity, discount)
		values (
		#{order.orderId}, #{product.productId}, #{quantity}, #{discount})
	</insert>

</mapper>
