<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lebo.repository.mybatis.ProductDao">

    <resultMap id="productMap" type="Product">
        <id property="productId" column="product_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="price" column="price" />
        <result property="priceUnit" column="price_unit" />
        <result property="discount" column="discount" />
        <result property="image" column="image" />
        <result property="productCategory.productCategoryId" column="product_category_id" />
    </resultMap>

    <resultMap id="productDetailMap" type="Product">
        <id property="productId" column="product_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="price" column="price" />
        <result property="priceUnit" column="price_unit" />
        <result property="discount" column="discount" />
        <result property="image" column="image" />
        <association property="productCategory" column="product_category_id" javaType="ProductCategory">
            <id property="productCategoryId" column="product_category_id"/>
            <result property="name" column="category_name"/>
        </association>
    </resultMap>

    <select id="get" parameterType="long" resultMap="productMap">
        select product_id,
        name,
        description,
        price,
        price_unit,
        discount,
        image,
        product_category_id
        from ec_product
        where product_id = #{productId}
    </select>

    <select id="getWithDetail" parameterType="long" resultMap="productDetailMap">
        select p.product_id,
        p.name,
        p.description,
        p.price,
        p.price_unit,
        p.discount,
        p.image,
        p.product_category_id,
        c.name as category_name
        from ec_product p, ec_product_category c
        where p.product_category_id = c.product_category_id
        and product_id = #{productId}
    </select>
    
    <select id="findByCategoryId" parameterType="long" resultMap="productMap">
        select product_id,
        name,
        description,
        price,
        price_unit,
        discount,
        image
        from ec_product
        where product_category_id = #{categoryId}
    </select>

</mapper>
