<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lebo.repository.mybatis.UserGoodsDao">

    <resultMap id="userGoodsMap" type="UserGoods">
        <result property="userId" column="user_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="getByUserId" parameterType="string" resultMap="userGoodsMap">
        select user_id,
        goods_id,
        quantity
        from vg_user_goods
        where user_id = #{userId}
    </select>

    <select id="getByUserIdGoodsId" parameterType="string" resultMap="userGoodsMap">
        select user_id,
        goods_id,
        quantity
        from vg_user_goods
        where user_id = #{userId}
        and goods_id = #{goodsId}
    </select>

    <insert id="insert" parameterType="UserGoods">
        insert into vg_user_goods (
        user_id,
        goods_id,
        quantity
        ) values (
        #{userId},
        #{goodsId},
        #{quantity}
        )
    </insert>

    <update id="updateQuantityByUserIdAndGoodsId" parameterType="UserGoods">
        update vg_user_goods
        set quantity = #{quantity}
        where user_id = #{userId}
        and goods_id = #{goodsId}
    </update>

</mapper>
