<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lebo.repository.mybatis.UserInfoDao">

    <resultMap id="userInfoMap" type="UserInfo">
        <id property="userId" column="user_id"/>
        <result property="gold" column="gold"/>
        <result property="consumeGold" column="consume_gold"/>
        <result property="recharge" column="recharge"/>
        <result property="popularity" column="popularity"/>
    </resultMap>

    <select id="get" parameterType="string" resultMap="userInfoMap">
        select user_id,
        gold,
        consume_gold,
        recharge,
        popularity
        from vg_user_gold
        where user_id = #{userId}
    </select>

    <update id="update" parameterType="UserInfo">
        update vg_user_gold
        <set>
            <if test="gold != null">
                gold = #{gold},
            </if>
            <if test="consumeGold != null">
                consume_gold = #{consumeGold},
            </if>
            <if test="recharge != null">
                recharge = #{recharge},
            </if>
            <if test="popularity != null">
                popularity = #{popularity},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <insert id="insert" parameterType="UserInfo">
        insert into vg_user_gold(
        <if test="gold != null">
            gold,
        </if>
        <if test="consumeGold != null">
            consume_gold,
        </if>
        <if test="recharge != null">
            recharge,
        </if>
        <if test="popularity != null">
            popularity,
        </if>
        user_id
        ) values (
        <if test="gold != null">
            #{gold},
        </if>
        <if test="consumeGold != null">
            #{consumeGold},
        </if>
        <if test="recharge != null">
            #{recharge},
        </if>
        <if test="popularity != null">
            #{popularity},
        </if>
        #{userId}
        )
    </insert>

</mapper>
